.root {
  border-radius: var(--border-radius-s);
  padding: var(--spacing-s) var(--spacing-m);

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: var(--color-background-brand-secondary);
  color: var(--color-foreground-tertiary);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-background-brand-primary);
  }
}

.secondary {
  background-color: transparent;
  color: var(--color-foreground-brand-secondary);
  border: 1px solid var(--color-border-brand-secondary);
}

.link {
  color: var(--color-foreground-brand-secondary);
  background-color: transparent;
  text-decoration-color: var(--color-foreground-brand-secondary);
}
