:root {
  --border-radius-none: var(--size-0);
  --border-radius-xs: var(--size-2);
  --border-radius-s: var(--size-4);
  --border-radius-m: var(--size-6);
  --border-radius-l: var(--size-8);
  --border-radius-xl: var(--size-12);
  --border-radius-2xl: var(--size-16);
  --border-radius-3xl: var(--size-24);
  --border-radius-4xl: var(--size-32);
}
